// app global css in SCSS form
@font-face {
  font-family: ARCADE;
  src: url(./fonts/ARCADE.TTF);
}

.my-font {
  font-family: ARCADE;
}

.my-card {
  
  width: 100%;
  max-width: 300px;
  background: rgba(255, 255, 255, 0.453);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.71);
  /* background-color: $dark; */
  color: white
}

.glass{
  
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.71);
  color: white;
  
}
